main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100vh;
    font-size: 24px;
    
}


#start-screen {
    /* display: block; */
    text-align: center;
}

#question-container {
    /* display: none; */
    text-align: center;
}

#question-container button{
    display: block;
    font-size: 22px;
    margin: 1px 0;
}

.hidden {
    display: none;
}


/* Timer styling */
header {
    height: 75px;
}

header div {
    padding: 2% 0;
}