/* Main body secetion */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100vh;
    font-size: 24px;
    
}

/* Start screen secetion */
#start-screen {
    border: 1px dashed blue;
    text-align: center;
}

/* question container section */
#question-container {
    text-align: center;
    border: 1px solid blue;
}

#question-container button{
    display: block;
    font-size: 22px;
    margin: 1px 0;
}

.hidden {
    display: none;
}

/* Timer styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

header div {
    padding: 0 4%;
}


#content-container {
    flex-basis: 25%;
    padding-bottom: 10.2%;
    border: 1px dashed blue;
}

/* Highscore secetion */
#highscore {
    border: 1px sloid blue;
    text-align: center;
    flex-basis: 25%;
}