main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100vh;
    font-size: 24px;
    
}


#welcome {
    display: block;
    text-align: center;
}

#question {
    display: none;
    text-align: center;
}

#question ol {
    list-style-type: none;
    padding: 0;
  }
  
  #question li {
    display: none;
    margin-bottom: 10px;
  }
  
  #question li:first-child {
    display: block;
  }